{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skyraptor | Products</title>
  <link rel="stylesheet" href="{% static 'css/products.css' %}">
  <script src="https://kit.fontawesome.com/8208d75b81.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="main-nav">
    <div class="nav-left">
      <a href="#" class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 50px; width: 65px">
      </a>
      <button class="hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="main-menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="has-megamenu">
          <a href="{% url 'products' %}">Products</a>
          <div class="mega-menu">
            <div class="mega-menu-container">
              <div class="mega-menu-column">
                <h4>Cycles</h4>
                <ul>
                  <li><a href="{% url 'category' 'Kids' %}">Kids Cycle</a></li>
                  <li><a href="{% url 'category' 'Gear' %}">Geared Cycle</a></li>
                  <li><a href="{% url 'category' 'Non-Gear' %}">Non Geared Cycle</a></li>
                  <li><a href="{% url 'category' 'Electric' %}">Electric Cycle</a></li>
                </ul>
              </div>
              <div class="mega-menu-column">
                <h4>Accessories</h4>
                <ul>
                  <li><a href="#">Locks & Safety</a></li>
                  <li><a href="#">Saddle Covers</a></li>
                  <li><a href="#">Mud Guards</a></li>
                  <li><a href="#">Lights</a></li>
                  <li><a href="#">Bags & Bottles</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="has-megamenu">
          <a href="#">Services</a>
          <div class="mega-menu">
            <div class="mega-menu-container">
              <div class="mega-menu-column">
                <h4>Skyraptor Technology</h4>
                <ul>
                  <li><a href="#">New Drivetrain Technology</a></li>
                  <li><a href="#">Our Innovation</a></li>
                  <li><a href="#">Traditional Cycle vs Skyraptor Cycle</a></li>
                </ul>
              </div>
              <div class="mega-menu-column">
                <h4>Contact us</h4>
                <ul>
                  <li><a href="#">Email us</a></li>
                  <li><a href="#">Call us</a></li>
                  <li><a href="#">Chat with us</a></li>
                  <li><a href="#">Visit us</a></li>
                </ul>
              </div>
              <div class="mega-menu-column">
                <h4>Franchise Enquiry</h4>
                <ul>
                  <li><a href="#">Enquiry Form</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <form method="get" action="{% url 'products' %}">
        <div class="search-box">
          {% csrf_token %}
          <input type="text" name="q" placeholder="SEARCH" value="{{ request.GET.q }}">
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
      <div class="dropdown">
        <button class="dropbtn"><i class="fa-regular fa-user"></i></button>
        <div class="dropdown-content">
          {% if user.is_authenticated %}
          <a href="#">Logout</a>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
          <a href="#">Your Account</a>
        </div>
      </div>
      <a href="{% url 'cart_summary' %}">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-count" id="cart_quantity">{{ cart|length }}</span>
      </a>
    </div>
  </nav>

  <header class="product-header">
    <div class="product-count"></div>
    <div class="product-controls">
      <button class="filter-button">
        FILTER
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
        </svg>
      </button>
      <button class="sort-button">
        SORT BY
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </button>
    </div>
  </header>

  <main class="product-grid">
    {% for product in products %}
    <a href="{% url 'product_view' product.id %}">
      <div class="product-card">
        <div class="product-image">
          <img src="{{ product.image.url }}">
        </div>
        <div class="product-info">
          <h3 class="product-name">{{ product.name }}</h3>
          <h3 class="product-price">₹{{ product.price }}</h3>
        </div>
      </div>
    </a>
    {% endfor %}
  </main>

  <footer class="main-footer">
    <div class="footer-container">
      <div class="footer-links">
        <h3>ABOUT US</h3>
        <ul>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Vision & Mission</a></li>
          <li><a href="#">Why choose us</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3>OUR PRODUCTS</h3>
        <ul>
          <li><a href="{% url 'category' 'Kids' %}">Kids cycle</a></li>
          <li><a href="{% url 'category' 'Gear' %}">Geared Cycle</a></li>
          <li><a href="{% url 'category' 'Non-Gear' %}">Non Geared Cycle</a></li>
          <li><a href="{% url 'category' 'Electric' %}">Electric Cycle</a></li>
          <li><a href="{% url 'category' 'Accessories' %}">Accessories</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3>SERVICES</h3>
        <ul>
          <li><a href="#">Product Catalog</a></li>
          <li><a href="#">Door Step Services</a></li>
          <li><a href="#">Parts replacement</a></li>
          <li><a href="#">Locate Us</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3>STAY UP TO DATE</h3>
        <ul class="social-icons">
          <li><a href="https://x.com" target="_blank" aria-label="X">
              <i class="fa-brands fa-x-twitter"></i>
            </a></li>
          <li><a href="https://instagram.com" target="_blank" aria-label="Instagram">
              <i class="fa-brands fa-instagram"></i>
            </a></li>
          <li><a href="https://facebook.com" target="_blank" aria-label="Facebook">
              <i class="fa-brands fa-facebook"></i>
            </a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>